@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style : normal;
}

header{
    background: rgba(255, 144, 14, .10)  ;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1em;
}
nav > ul{
    display: flex;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.banner-content{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
 div > img{
    justify-content: center;
 }
 .btn-primary{
    border-radius: 8px;
    color: #FFFF;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
    font-weight: 600;
 }
 .banner img{
    margin-top: 20px;
    width: 100%;
 }

 @media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    
 }
 @media screen and (min-width:576px)and (max-width: 960px){
    header{
        padding: 40px;
    }
    nav{
        flex-direction: column;
    }
    
 }

 @media screen and (min-width:960px)and (max-width: 1280px){
    header{
        padding: 60px;
    }
    nav{
        flex-direction: column;
    }
    
 }